<footer>
    <div class="container">
        <div class="row">
            <div class="container">
                <!--Box-->
                <div class="boxItem">
                    <p>
                        © <strong>FASHION SHOP <span style="color:#696969">QHG</span> <span style="color:#FF8C00"> Thời trang Nam</span>&nbsp;thương hiệu tại&nbsp;Việt Nam</strong><br>
                        <strong>Địa chỉ:&nbsp;</strong>55 Giải Phóng, Hai Bà Trưng, Hà Nội<br>
                        <strong>Chi nhánh</strong>Phủ lý, Hà Nam
                    </p>
                </div><!--End Box-->
                <div style="float: right" class="fb-follow fb_iframe_widget" data-href="https://www.facebook.com/hoanghai.itnucey" data-layout="standard" data-show-faces="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=0&amp;href=https%3A%2F%2Fwww.facebook.com%2Fnongsantraicay&amp;layout=standard&amp;locale=en_US&amp;sdk=joey&amp;show_faces=true"><span style="vertical-align: bottom; width: 450px; height: 25px;"><iframe name="f398855d99b96c" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:follow Facebook Social Plugin" src="./Cửa hàng Trái Cây tươi chuyên các mặt hàng qua quả ngon, nông sản an toàn_files/follow.html" style="border: none; visibility: visible; width: 450px; height: 25px;" class=""></iframe></span></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</footer>
